@mixin css3-prefix($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin abs-position ($top, $right, $bottom, $left) {
  position: absolute; 
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
     display: block;
     content: '';
     width: 100%;
     padding-top: ($height / $width) * 100%;
  }
  
  > .inner-box {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
  }
}

@mixin text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
