:root {
	--ui-default-50: rgba(81, 81, 81, 0.393);
	--ui-default-60: rgba(68, 68, 68, 0.393);
	--ui-default-70: rgba(49, 49, 49, 0.393);
	--ui-primary-50: #fa1f60;
	--ui-primary-60: #e11653;
	--ui-primary-70: #d21b52;
	--ui-text-primary-50: white;
	--ui-text-primary-60: rgb(240, 240, 240);
	--ui-text-primary-70: rgb(222, 222, 222);
	--ui-secondary-50: #cdf726;
	--ui-secondary-60: #c1e924;
	--ui-secondary-70: #aed21e;
	--ui-text-secondary-50: white;
	--ui-text-secondary-60: rgb(240, 240, 240);
	--ui-text-secondary-70: rgb(222, 222, 222);
}
